//Media Queries

//Medium Screens
@media only screen and (min-width: 600px) {
  nav {
    margin-top: 30px;
  }
  .form {
    bottom: 20px;
    margin-top: -85px;
    .wrapper {
      width: 100%;
    }
  }
  button {
    width: 37%;
    border-radius: 10px;
  }
  .wrapper {
    width: 65%;
  }
  .smallWrapper {
    width: 65%;
    margin: 0 auto;
    padding-bottom: 35px;
  }
  header {
    padding-bottom: 5%;
    .logo {
      max-width: 30%;
      padding-top: 20px;
    }
  }

  .hidden {
    display: none;
  }
  h2 {
    font-size: 2.4em;
  }

  h3 {
    font-size: 1.2em;
  }

  .blueBar {
    height: 40px;
    width: 100%;
    background-color: $navy;
    margin-top: 5%;
  }

  .qRight {
    position: absolute;
    right: 450px;
    opacity: 0.05;
    margin-top: 0%;
  }

  .qLeft {
    position: absolute;
    left: 450px;
    opacity: 0.05;
    margin-top: 0%;
  }

  .banner {
    height: 300px;
    overflow: hidden;
  }

  .largeIcon {
    display: table;
    margin: 0 auto;
    width: 20%;
    padding-bottom: 15px;
    opacity: 0.5;
  }
  .container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    justify-content: space-between;
  }

  a {
    font-size: 0.9em;
  }
  input {
    font-size: 0.9em;
  }

  input {
    height: 18px;
  }

  .threeGrid {
    display: grid;
    grid-template-columns: 50px auto auto;
    grid-gap: 5%;
  }

  .twoGrid {
    display: grid;
    grid-template-columns: 50px auto;
    grid-gap: 5%;
  }

  .phoneGrid {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 3%;
  }

  //Links
  .item {
    position: relative;
    height: 280px;
  }

  .item .icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
  }

  .down {
    padding-bottom: 55px;
  }
}

//Desktop

@media only screen and (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    justify-content: space-between;
    .arrow {
      align-self: end;
    }
  }

  .hidden {
    display: none;
  }

  .item {
    position: relative;
    height: 300px;
  }
  .icon {
    display: table;
    margin: 0 auto;
    width: 50px;
    padding: 10px 0 10px 0;
  }
  .form {
    margin-top: -120px;
  }
  .down {
    padding-bottom: 60px;
  }
}

//Larger Screens

@media only screen and (min-width: 1200px) {
  .item {
    height: 280px;
  }
}
