/* Colors */
$navy: #0c2340;
$sky-blue: #418fde;
$gold: #ffb819;

//Grays
$dark-gray: #63666a;
$medium-dark-gray: #888b8d;
$medium-light-gray: #a7a8aa;
$light-gray: #c8c9c7;

//Secondary
$orange: #fa6b2d;
$green: #008242;

/* Fonts */
$arial: Arial, Helvetica, sans-serif;
$times-new-roman: "Times New Roman", Times, serif;
