//sass --watch Styles/styles.scss:Styles/styles.css

@import "variables";
//Global
html,
body {
  overflow-x: hidden;
}
body {
  margin: 0px;
  padding: 0px;
}
div {
  box-sizing: border-box;
}

h2 {
  text-align: center;
  color: white;
  font-family: $arial;
  font-size: 2.1em;
}

h3 {
  text-align: center;
  color: white;
  font-family: $arial;
  background-color: $navy;
  padding: 10px;
  font-size: 0.9em;
  font-style: bold;
}
p {
  text-align: center;
  color: white;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}

.whiteBox {
  background-color: white;
  border-radius: 20px;
  position: relative;
  padding: 10px;
}
button {
  display: table;
  margin: 0 auto;
  background-color: $sky-blue;
  border: none;
  border-radius: 15px;
  padding: 15px;
  width: 80%;
  color: white;
  font-family: $arial;
  font-size: 0.9em;
  font-weight: bold;
}
.gold {
  background-color: $gold;
  color: $navy;
}
.icon {
  display: table;
  margin: 0 auto;
  width: 10%;
  padding-bottom: 60px;
}
hr {
  border-top: 5px solid white;
}
.largeIcon {
  display: table;
  margin: 0 auto;
  width: 30%;
  padding-bottom: 15px;
}

//Hero Image
.hero-image {
  background-image: url("/Images/Hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//Header
header {
  width: 100%;
  .logo {
    max-width: 55%;
    padding-top: 10px;
  }

  nav {
    width: 20%;
    float: right;
    img {
      max-width: 50%;
      margin-top: 50%;
      margin-right: 600%;
    }
  }
}

//Hero text
//Form
.form {
  bottom: 35px;

  box-shadow: 2px 6px 15px 15px rgba(0, 0, 0, 0.08);

  p {
    color: black;
  }
}

//Go cats

.bluePattern {
  padding: 20px 0px;
  background-color: $sky-blue;
  position: relative;
  bottom: 55px;
  z-index: -1;
  font-weight: bold;

  p {
    color: $navy;
  }
}

//Image Banner
.imgBanner {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  max-width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.height {
  height: 200px;
  overflow: hidden;
  position: relative;
  bottom: 55px;
}

//Links

.links {
  background-color: $navy;
  color: white;
  padding: 20px 0px;
  position: relative;
  bottom: 55px;
}
