/* Colors */
/* Fonts */
html,
body {
  overflow-x: hidden; }

body {
  margin: 0px;
  padding: 0px; }

div {
  box-sizing: border-box; }

h2 {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8129em; }

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: bold; }

p {
  text-align: center;
  color: white; }

.center {
  text-align: center; }

.wrapper {
  margin: 0 auto;
  width: 80%; }

.whiteBox {
  background-color: white;
  border-radius: 18px;
  position: relative;
  padding: 6%; }

button {
  display: table;
  margin: 0 auto;
  background-color: #418fde;
  border: none;
  border-radius: 15px;
  padding: 15px;
  width: 80%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: bold; }

.submit {
  background-color: #ffb819;
  color: #0c2340;
  margin-top: 20px; }

.icon {
  display: table;
  margin: 0 auto;
  width: 50px;
  padding: 20px 0 30px 0; }

hr {
  border-top: 5px solid white;
  margin-bottom: 20px; }

.hero-image {
  background-image: url("/Images/Hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

header {
  width: 100%;
  padding-bottom: 15px; }
  header .logo {
    max-width: 55%;
    padding-top: 10px; }
  header nav {
    float: right; }
    header nav img {
      float: right;
      max-width: 50%;
      margin-top: 50%; }

.form {
  bottom: 6px;
  box-shadow: 2px 6px 15px 15px rgba(0, 0, 0, 0.08);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif; }
  .form input {
    padding: 5px;
    width: 100%;
    margin: 10px 0px;
    border: 2px solid #63666a;
    color: #888b8d;
    border-radius: 55px;
    font-weight: bold; }
  .form p {
    color: #0c2340;
    text-align: left; }
  .form .darkBanner {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0c2340;
    position: relative;
    right: 7%;
    padding: 10px 3.5%;
    font-size: 0.9em;
    width: 107%;
    font-weight: bold;
    margin-top: 0px; }

.bluePattern {
  padding: 20px 0px;
  background-color: #418fde;
  margin-top: -35px;
  z-index: -1;
  font-weight: bold;
  background-image: url("/Images/WhitePattern.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .bluePattern p {
    color: #0c2340; }
  .bluePattern .blueBar {
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: #0c2340;
    margin-top: 30px; }

.banner {
  height: 180px;
  overflow: hidden; }

.imgBackground {
  max-width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.links {
  background-color: #0c2340;
  color: white;
  padding: 20px 0px; }

.largeIcon {
  display: table;
  margin: 0 auto;
  width: 30%;
  padding-bottom: 15px; }

a {
  color: #418fde;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: bold; }

.squareImage {
  width: 140px;
  margin-bottom: 10px;
  display: block;
  margin: 10px auto; }

.flex {
  display: flex; }

.item {
  position: relative; }
  .item .arrow {
    align-self: end; }

@media only screen and (min-width: 600px) {
  .form {
    bottom: 20px; }

  button {
    width: 37%;
    border-radius: 10px; }

  .wrapper {
    width: 65%; }

  .smallWrapper {
    width: 65%;
    margin: 0 auto;
    padding-bottom: 35px; }

  header {
    padding-bottom: 5%; }
    header .logo {
      max-width: 30%;
      padding-top: 20px; }

  .hidden {
    display: none; }

  h2 {
    font-size: 2.4em; }

  h3 {
    font-size: 1.2em; }

  .blueBar {
    height: 40px;
    width: 100%;
    background-color: #0c2340;
    margin-top: 5%; }

  .qRight {
    position: absolute;
    right: 450px;
    opacity: 0.05;
    margin-top: 0%; }

  .qLeft {
    position: absolute;
    left: 450px;
    opacity: 0.05;
    margin-top: 0%; }

  .banner {
    height: 300px;
    overflow: hidden; }

  .largeIcon {
    display: table;
    margin: 0 auto;
    width: 15%;
    padding-bottom: 15px;
    opacity: 0.5; }

  .container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    justify-content: space-between; }

  a {
    font-size: 0.9em; } }
@media only screen and (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    justify-content: space-between; }
    .container .arrow {
      align-self: end; }

  .hidden {
    display: none; }

  .icon {
    display: table;
    margin: 0 auto;
    width: 50px;
    padding: 10px 0 10px 0; } }

/*# sourceMappingURL=styles.css.map */
