/* Colors */
/* Fonts */
html,
body {
  overflow-x: hidden; }

body {
  margin: 0px;
  padding: 0px; }

.wrapper {
  margin: 0 auto;
  width: 80%; }

.center {
  text-align: center; }

.flex {
  display: flex; }

.icon {
  display: table;
  margin: 0 auto;
  width: 50px;
  padding: 10px 0 10px 0; }

hr {
  border-top: 5px solid white;
  margin-bottom: 20px; }

.whiteBox {
  background-color: white;
  border-radius: 18px;
  position: relative;
  padding: 6%; }

button {
  display: table;
  margin: 0 auto;
  background-color: #418fde;
  border: none;
  border-radius: 15px;
  padding: 15px;
  width: 80%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: bold; }
  button:hover {
    color: #0c2340;
    background-color: white; }

p {
  text-align: center;
  color: white; }

h2 {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8129em; }

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: bold; }

.hero-image {
  background-image: url("../Images/Hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

header {
  width: 100%;
  padding-bottom: 15px; }
  header .logo {
    max-width: 55%;
    padding-top: 10px; }
  header nav {
    float: right; }
    header nav img {
      float: right;
      max-width: 50%;
      margin-top: 50%; }

.form {
  bottom: 6px;
  box-shadow: 2px 6px 15px 15px rgba(0, 0, 0, 0.08);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -95px; }
  .form input {
    padding: 5px;
    width: 100%;
    margin: 10px 0px;
    border: 2px solid #63666a;
    color: #888b8d;
    border-radius: 55px;
    font-weight: bold; }
  .form p {
    color: #0c2340;
    text-align: left; }
  .form .darkBanner {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0c2340;
    position: relative;
    right: 7%;
    padding: 10px 3.5%;
    font-size: 0.9em;
    width: 107%;
    font-weight: bold;
    margin-top: 0px; }
  .form .submit {
    background-color: #ffb819;
    color: #0c2340;
    margin-top: 20px; }
    .form .submit:hover {
      color: white;
      background-color: #0c2340; }

.bluePattern {
  padding: 20px 0px;
  background-color: #418fde;
  margin-top: -35px;
  z-index: -1;
  font-weight: bold;
  background-image: url("../Images/WhitePattern.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .bluePattern p {
    color: #0c2340; }

.blueBar {
  height: 40px;
  width: 100%;
  background-color: #0c2340;
  margin-top: 50px; }

.banner {
  height: 180px;
  overflow: hidden; }

.imgBackground {
  max-width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.largeIcon {
  display: table;
  margin: 0 auto;
  width: 30%;
  padding-bottom: 15px; }

.links {
  background-image: url("../Images/TwoQ.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 20px 0px; }

a {
  color: #418fde;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: bold; }

.squareImage {
  width: 140px;
  margin-bottom: 10px;
  display: block;
  margin: 10px auto; }

.item {
  position: relative; }
  .item .arrow {
    align-self: end; }

.down {
  padding-bottom: 30px; }

@media only screen and (min-width: 600px) {
  button {
    width: 37%;
    border-radius: 10px; }

  .wrapper {
    width: 65%; }

  .smallWrapper {
    width: 65%;
    margin: 0 auto;
    padding-bottom: 35px; }

  .hidden {
    display: none; }

  h2 {
    font-size: 2.4em; }

  h3 {
    font-size: 1.2em; }

  .container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    justify-content: space-between; }

  header {
    padding-bottom: 5%; }
    header .logo {
      max-width: 30%;
      padding-top: 20px; }
    header nav {
      margin-top: 1.5%; }

  .form {
    bottom: 20px;
    margin-top: -85px; }
    .form .wrapper {
      width: 100%; }
    .form input {
      font-size: 0.9em;
      height: 18px; }

  .blueBar {
    height: 40px;
    width: 100%;
    background-color: #0c2340;
    margin-top: 5%; }

  .threeGrid {
    display: grid;
    grid-template-columns: 50px auto auto;
    grid-gap: 5%; }

  .twoGrid {
    display: grid;
    grid-template-columns: 50px auto;
    grid-gap: 5%; }

  .phoneGrid {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 3%; }

  .banner {
    height: 300px; }

  .largeIcon {
    width: 20%;
    opacity: 0.5; }

  a {
    font-size: 0.9em; }
    a:hover {
      color: #0c2340; }

  .item {
    height: 280px; }
    .item .icon {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -20px; }

  .down {
    padding-bottom: 55px; } }
@media only screen and (min-width: 992px) {
  .container {
    grid-template-columns: auto auto auto auto; }

  .item {
    position: relative;
    height: 300px; }

  .icon {
    display: table;
    margin: 0 auto;
    width: 50px;
    padding: 10px 0 10px 0; }

  .form {
    margin-top: -120px; }

  .down {
    padding-bottom: 60px; } }
@media only screen and (min-width: 1200px) {
  .item {
    height: 280px; } }

/*# sourceMappingURL=styles.css.map */
