//sass --watch Styles/styles.scss:Styles/styles.css

@import "variables";
//Global Styles
html,
body {
  overflow-x: hidden;
}
body {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

.icon {
  display: table;
  margin: 0 auto;
  width: 50px;
  padding: 10px 0 10px 0;
}
hr {
  border-top: 5px solid white;
  margin-bottom: 20px;
}

.whiteBox {
  background-color: white;
  border-radius: 18px;
  position: relative;
  padding: 6%;
}

button {
  display: table;
  margin: 0 auto;
  background-color: $sky-blue;
  border: none;
  border-radius: 15px;
  padding: 15px;
  width: 80%;
  color: white;
  font-family: $arial;
  font-size: 0.9em;
  font-weight: bold;
  &:hover {
    color: $navy;
    background-color: white;
  }
}

//Fonts
p {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  color: white;
  font-family: $arial;
  font-size: 1.8129em;
}

h3 {
  font-family: $arial;
  font-size: 0.9em;
  font-weight: bold;
}

//Header
.hero-image {
  background-image: url("../Images/Hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  width: 100%;
  padding-bottom: 15px;
  .logo {
    max-width: 55%;
    padding-top: 10px;
  }
  nav {
    float: right;
    img {
      float: right;
      max-width: 50%;

      margin-top: 50%;
    }
  }
}

//Form
.form {
  bottom: 6px;
  box-shadow: 2px 6px 15px 15px rgba(0, 0, 0, 0.08);
  font-weight: bold;
  font-family: $arial;
  margin-top: -95px;

  input {
    padding: 5px;
    width: 100%;
    margin: 10px 0px;
    border: 2px solid $dark-gray;
    color: $medium-dark-gray;
    border-radius: 55px;
    font-weight: bold;
  }
  p {
    color: $navy;
    text-align: left;
  }
  //Title of Form
  .darkBanner {
    text-align: center;
    color: white;
    font-family: $arial;
    background-color: $navy;
    position: relative;
    right: 7%;
    padding: 10px 3.5%;
    font-size: 0.9em;
    width: 107%;
    font-weight: bold;
    margin-top: 0px;
  }

  .submit {
    background-color: $gold;
    color: $navy;
    margin-top: 20px;

    &:hover {
      color: white;
      background-color: $navy;
    }
  }
}

//Go Bobcats! Banner

.bluePattern {
  padding: 20px 0px;
  background-color: $sky-blue;
  margin-top: -35px;
  z-index: -1;
  font-weight: bold;
  background-image: url("../Images/WhitePattern.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  p {
    color: $navy;
  }
}

//Blue bar in form Section
.blueBar {
  height: 40px;
  width: 100%;
  background-color: $navy;
  margin-top: 50px;
}

//Hockey Photo Banner

.banner {
  height: 180px;
  overflow: hidden;
}

.imgBackground {
  max-width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

//Links

.largeIcon {
  display: table;
  margin: 0 auto;
  width: 30%;
  padding-bottom: 15px;
}
.links {
  background-image: url("..Images/TwoQ-01-01.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 20px 0px;
}

a {
  color: $sky-blue;
  font-family: $arial;
  font-size: 1.5em;
  font-weight: bold;
}

.squareImage {
  width: 140px;
  margin-bottom: 10px;
  display: block;
  margin: 10px auto;
}

//Back to Top

.item {
  position: relative;

  .arrow {
    align-self: end;
  }
}
.down {
  padding-bottom: 30px;
}

@import "mediaQueries";
